.content-main {  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .cards {
    width: 26%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    height: calc(100vh - 160px);
    overflow-x: hidden;
    .card {
      margin-bottom: 0.5rem;
    }
  }
  .map {
    width: 70%;
    height: calc(100vh - 160px);
  }
}

// Smallest device Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 767.98px) {
  .content-main {
    flex-direction: column-reverse;
    align-content: center;
    justify-content: space-evenly;
    .cards {
      flex-direction: column;
      overflow-x: scroll;
      height: 340px;
      width: 90%;
      .card {
        margin-right: 0.5rem;
      }
      // border-top: 2px solid $m-black;
    }
    .map {
      width: 90%;
      height: 55%;
      min-height: 420px;
      margin-bottom: 0.35rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .content-main {
    .cards {
      width: 40%;
    }
    .map {
      width: 55%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .content-main {
    .cards {
      width: 30%;
    }
    .map {
      width: 65%;
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}