<% if @nfts %>
  <% @nfts.each do |nft| %>
    <%= link_to nft_path(nft) do %>
      <div class="card">
        <div>
          <% if nft.image.attached? %>
            <%= cl_image_tag nft.image.key, class: "card-image" %>
          <% else %>
              <img src="https://res.cloudinary.com/vivienz/image/upload/v1622743600/utamb4q9bjfe5st9zumg0wxlxo2r.jpg" alt="pic" class="card-image">
          <% end %>
        </div>
        <div class="card-info border">
            <h2><%= nft.name.capitalize %></h2>
            <h2 class="card-price"><%= number_to_currency(nft.price) %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div>No matching search result found. Please try again!</div>
<% end %>