<% if @nfts %>
  <% @nfts.each do |nft| %>
    <div class="card">
      <div>
        <% if nft.image.attached? %>
          <%= cl_image_tag nft.image.key, class: "card-image" %>
        <% else %>
            <img src="https://res.cloudinary.com/vivienz/image/upload/v1622743600/utamb4q9bjfe5st9zumg0wxlxo2r.jpg" alt="pic" class="card-image">
        <% end %>
      </div>
      <div class="border">
          <%= link_to "#{nft.name.capitalize}", nft_path(nft) %>
          <div id="price"><%= number_to_currency(nft.price) %> /day</div>
      </div>
    </div>
  <% end %>
<% else %>
  <div>No matching search result found. Please try again!</div>
<% end %>