<div class="container">

  <div class="filter-tab row d-flex">
    <%= render 'filter_tab' %>
  </div>

  <div class="row d-flex">
    <div class="d-flex">
      <%= render 'list_nfts' %>
    </div>

    <div id="map"
      style="width: 60%; height: calc(100vh - 160px); display: block;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>