<div class="container">

  <div class="filter-tab row d-flex">
    <%= render 'filter_tab' %>
  </div>

  <div class="content-main row">
    <div id="nft-list" class="cards"><%= render 'nfts_list' %></div>

    <div id="map"
      class="map"
      style="display: block;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>