<div class="container">

  <div class="filter-bar row d-flex">
    <%= render 'filter_bar' %>
  </div>

  <div class="row d-flex">
    <%= render 'list_nfts' %>
  </div>

  <div id="map"
    style="width: 50vw; height: calc(100vh - 76px);"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>