<div class="banner" 
     style="background-image: linear-gradient(rgba(0,0,0,0.3), 
                              rgba(0,0,0,0.3)), 
                              url('https://res.cloudinary.com/vivienz/image/upload/v1640793088/a3r7jby13zqrqunuel7o.jpg')">
  <div class="banner-text">
    Cool article
  </div>

</div>