<div class="banner" 
     style="background-image: linear-gradient(rgba(0,0,0,0.3), 
                              rgba(0,0,0,0.3)), 
                              url('https://res.cloudinary.com/vivienz/image/upload/v1640793088/a3r7jby13zqrqunuel7o.jpg')">

  <div id="carouselExampleControls" class="carousel slide banner-text" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div>
          <h1>Decorate your virtual event</h1>
          <h2>with the coolest NFT arts</h2>
          <h2>at a reasonable price</h2>
        </div>
      </div>
      <div class="carousel-item">
        <div>
          <h1>Share your awesome NFT arts</h1>
          <h2>gain extra source of income</h2>
          <h2>make a presence</h2>
        </div>
      </div>
    </div>
  </div>
</div>