<div class="banner" 
     style="background-image: linear-gradient(rgba(0,0,0,0.3), 
                              rgba(0,0,0,0.3)), 
                              url('https://res.cloudinary.com/vivienz/image/upload/v1640803277/fpnu3icj7xjusqlusbxy.jpg')">
  <div class="banner-text">
    Cool article
  </div>

</div>