.banner {
  min-height: 460px;
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: 50% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-text {
  color: white;
  h1 {
    // font-family: $m-title;
    font-size: 68px;
  }
}