.card {
  overflow: hidden;
  background: white;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a:hover {
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
 
  }
}

.card > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  color: $m-black;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card .card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
