.card {
  width: 420px;
  overflow: hidden;
  background: white;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a:hover {
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
 
  }
}

.card > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  color: $m-black;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card .card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// .content-main {  
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   // grid-template-rows: 1fr 1fr 1fr;
//   gap: 0px 0px;
//   grid-auto-flow: row;
//   grid-template-areas:
//     "cards map map map";
//     // "cards map map map"
//     // "cards map map map";
// }

// .cards { grid-area: cards; }
// .map { grid-area: map; }

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .content-main {
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr;
//     grid-template-areas:
//       "map"
//       "cards";
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .content-main {
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr;
//     grid-template-areas:
//       "map"
//       "cards";
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .content-main {
//     grid-template-columns: 1fr 1fr;
//     // grid-template-rows: 1fr 1fr;
//     grid-template-areas:
//       "cards map";
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   // .content-main {
//   //   grid-template-columns: 1fr 1fr 1fr;
//   //   grid-template-areas:
//   //   "cards map map";
//   // }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   // .content-main {
//   //   grid-template-columns: 1fr 1fr 1fr;
//   // }
// }