.card-long {
  width: 360px;
  overflow: hidden;
  background: white;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    text-decoration: none;
    position: relative;
    animation-name: jump;
    animation-duration: 0.4s;
    animation-timing-function: linear;
  }
}


.card-long > img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.card-long h2 {
  color: $m-black;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-long .card-long-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card-long-info h5 a {
  color: $m-black;
  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
}

.card-long-sm {
  width: 420px;
  overflow: hidden;
  background: white;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    text-decoration: none;
    position: relative;
    animation-name: jump;
    animation-duration: 0.4s;
    animation-timing-function: linear;
  }
}

.card-long-sm-img {
  width: 80px;
  height: 80px;
  .img{
    height: 100%;
    width: 100%;
  }
}

.card-long-sm-title {
  font-weight: bold;
}

@keyframes jump {
  0%   {top: 0;}
  40%  {top: -0.45em;}
  100% {top: 0;}
}