.text-link {
  color: rgb(173, 181, 189);
  &:hover {
    color: $m-black;
  }
}

.text-link-dk {
  color: $m-black;
  &:hover {
    text-decoration: none;
    color: $m-black;
    opacity: 0.6;
  }
}