.text-link {
  color: rgb(173, 181, 189);
  &:hover {
    color: $m-black;
  }
}

.text-link-dk {
  color: $m-black;
  &:hover {
    text-decoration: none;
    color: $m-black;
    opacity: 0.6;
  }
}

.text-link-wt {
  color: rgba(255, 255, 255, 1);
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
  }
}